<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"> -->
<div class="container">
  <div class="row align-items-start">
    <mat-toolbar color="primary">
      <h1>My Cart</h1>
    </mat-toolbar>
    <hr>
  </div>
  <div *ngIf="cartItems.length else noitems">
    
    <div class="row align-items-start">
      <mat-grid-list cols="20">
        <mat-grid-tile colspan="10">
          <mat-list role="list">
            <h2>Item</h2>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile colspan="5">
          <mat-list role="list">
            <h2>Quantity</h2>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile colspan="5">
          <h2>Edit</h2>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="row align-items-start" *ngFor="let thing of cartItems; let idx = index">
      <mat-grid-list cols="8">
        <mat-grid-tile colspan="1">
          <mat-list role="list"> <img [src]="thing.item.imageUrl" [alt]="thing.item.imageUrl" width="75" /></mat-list>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
          <mat-list role="list">
            <mat-list-item role="listitem">{{thing.item.name}}</mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <mat-list role="list">
            <mat-list-item role="listitem">{{thing.quantity}}</mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="delete(idx)">Remove item</button>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>

<ng-template #noitems>
  <div class="row align-items-start" style="height: 27vh;">
    <h1>
      Your cart is currently empty
    </h1>
  </div>
</ng-template>
