<div class="container">
  <form [formGroup]="form" (ngSubmit)="postComment()">
    <div class="row">
      <div class="col">
        <h3>Post comment for {{title}}</h3>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Your name" formControlName="name">
        </div><br>
        <div class="mb-3">
          <label for="rating" class="form-label">Rating</label>
          <input type="number" class="form-control" id="rating" formControlName="rating">
        </div><br>
        <div class="mb-3">
          <label for="comment" class="form-label">please comment here</label>
          <textarea class="form-control" id="comment" rows="3" formControlName="comment"></textarea>
        </div>        
      </div>
    </div>
    <div class="row">
      <div class="col-6"><button class="btn btn-primary" type="button" (click)="reloadPage()">Back</button></div>
      <div class="col-6"><button class="btn btn-primary" type="submit">Post</button></div>
    </div>
  </form>
</div>
